//Here are the styles that get converted into valid css files

@darkestGrey: color(#2f2f2f);
@darkGrey: color(#3f3f3f);
@grey: color(#686868);
@white: color(rgb(252, 252, 252));
@mainColor: color(#e7c798);

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    }

body {
    background-color: @grey;
    color: @white;
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}

section {
    padding: 0px;
}

.list {
    width: 20%;
    height: 100vh;
    float: left;

    background-color: @darkGrey;
    color: @white;
    .box-shadow(2px, 0px, 2px, 0.5);
}

#logo {
    margin: 20px;
    margin-right: 35px;
}

.detail {
    height: 100vh;
    margin-left: 20%;
    background-color: @grey;
    color: @darkGrey;
}

li {
    height: 50px;
    border: 2px;
    border-top-style: solid;
    border-color: @darkestGrey;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

p {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    padding-top: 10px;
    color: @white;
    font-weight: lighter;
    padding-left: 10px;
}
