//Here the styles are described, that get converted into a valid css file

@darkestGrey: color(#2f2f2f);
@darkGrey: color(#404040);
@slightDarkGrey: color(#505050);
@grey: color(#606060);
@lightGrey: color(#afafaf);
@lightestGrey: color(#cccccc);
@white: color(rgb(252, 252, 252));
@mainColor: color(#e7c798);
@listWidth: 360px;
@menubarHeight: 50px;

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    }

.border-top () {
    border: 1px;
    border-top-style: solid;
    border-color: @darkestGrey;
}

.border () {
    border: 1px;
    border-style: solid;
    border-color: @darkGrey;
}

body {
    font-family: 'Muli', sans-serif;
    padding: 0px;
    margin: 0px;

    //Non selectable Text
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

#logo {
    margin: 20px;
    margin-right: 35px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.listSec {
    position: fixed;
    top: 0px;
    width: @listWidth;
    height: 100vh;
    background-color: @darkGrey;
    .box-shadow(0px, 0px, 10px, 1);

    p {
        margin: 0px;
        padding: 0px;
        padding-left: 5em;
        padding-top: 10px;
        color: @white;
        font-weight: lighter;
        padding-left: 10px;
    }

    li {
        height: 50px;
        .border-top();
        font-size: 1.4rem;
        &:hover {
            background-color: @darkGrey;
        }
        #active {
            background-color: @darkGrey;
        }
    }

    .menubar {
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0px;
        height: @menubarHeight;
        width: @listWidth;
        .border-top();
        color: @white
    }

    #leftPrevPageBtnDisabled {
        color: @lightGrey;
    }
    #leftNextPageBtnDisabled {
        color: @lightGrey;
    }
}

#leftListSec {
    left: 0px;
    .menubar {
        left: 0px;
        p {
            padding: 0px;
            margin: 0px;
        }
    }
    .active {
        background-color: @grey;
    }
}

#rightListSec {
    right: 0px;
    #rightHeader {
        height: 125px;
        padding: 10px;
        h1 {
            padding: 0px;
            margin: 0px;
            font-size: 2rem;
            color: @white;
        }
    
        p {
            padding-left: 0px;
            padding-top: 5px;
        }
    }

    .menubar {
        right: 0px;
    }
}

#map {
    position: fixed;
    top: 0px;
    left: @listWidth;
    width: 65%;
    height: 100vh;
    width: 100% - 2*@listWidth;
   }
