//Here are the styles that get converted into valid css files

@darkGrey: color(#3f3f3f);
@grey: color (#7F7F7F);
@white: color(white);
@mainColor: color(#e7c798);

body {
    background-color: @grey;
    color: @white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

header {
    background-color: @darkGrey;
    color: @white;
}